<div fxLayout="column" fxLayout="center start" fxFill>
    <button mat-button color="primary" (click)="observableCreate()">Create / Observable</button>
    <button mat-button color="primary" (click)="fromClick()">From</button>
    <button mat-button color="primary" (click)="ofClick()">Of</button>
    <button mat-button color="primary" (click)="intervalClick()">interval</button>
    <button mat-button color="primary" (click)="timerClick()">Timer</button>
    <button mat-button color="primary" (click)="unsubscripeClick()">Unsubscripe</button>
    <!--From Event - Atrelar um evento ao algum componente ou até mesmo o o html inteiro-->
    <button mat-button color="primary" (click)="fromEventClick()">FromEvent</button>
</div>